[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
keras = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
tensorflow = "*" 
opencv-python = "*"
pandas = "*"
scikit-image = "*"

[requires]
python_version = "3.7"
